/*
 * receipt.css - v1.0.0
 * Richard Benentt, CTi Winnipeg
 *
 */

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  /* layout */
    padding: 30px;
    width: 100%;
  /* style */
  background-color: #373737;
}

div.receipt {
  /* layout */
  /* style */
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.37);
  font-family: monospace;
}
@media (max-width: 600px) {
  div.receipt {
    max-width: 400px;
  }
}
@media (min-width: 601px) {
  div.receipt {
    max-width: 400px;
  }
}
@media print {
  div.receipt {
    max-width: 350px;
  }
}

div.receipt table, div.receipt table tr {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
div.receipt table tr td {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

div.receipt p, div.receipt table {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}

div.brand {
  font-family: "HelveticaNeue", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
div.store {
  font-family: "HelveticaNeue-Light", "Helvetica-Neue", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

div.receipt table.header {
  margin-bottom: 20px;
}

div.receipt table.header tr td:nth-child(2), div.receipt table.date tr td:nth-child(2), div.receipt table.items tr td:nth-child(2) {
  text-align: right;
}
div.receipt table.items tr td:nth-child(1) {
  text-transform: uppercase;
}
div.receipt table.items tr td:nth-child(2):before {
  /*content: "$ ";*/
}

div.receipt table.saved {
  color: #71B006;
}

div.receipt table.totals tr td:nth-child(1) {
  text-align: right;
}
div.receipt table.totals .grandTotal {
  font-weight: bold;
  color: #ee3725;
}

div.receipt table.payments {
  font-weight: bold;
  color: #71B006;
}

.centered {
  text-align: center;
}

div.receipt p.barcode {
  text-align: center;
}
div.receipt p.barcode img {
  width: 100%;
  height: auto;
}


/* button-styles */

a.button {
  display: block;
  padding: 10px;
  background-color: #ee3725;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-family: "HelveticaNeue", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}