---
---
<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Canadian Tire Innovations</title>

  <link rel="stylesheet" href="stylesheets/reset.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="stylesheets/pygment_trac.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Bring in Typekit -->
  <script src="//use.typekit.net/jsr8zan.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

</head>
<body>
  <header class="index">
    <div class="wrapper">
      <h1><img src="{{ site.root }}/img/cti_logo.svg" alt="CTi Winnipeg" width="75" valign="absmiddle"></h1>
      <h1>Canadian Tire Innovations</h1>
      <h2>Moving life in Canada forward.</h2>
    </div>
  </header>
  <section class="pagelist">
    <ul>
      {% for post in site.posts %}
        <li class="post{% if post.feature_tint == 'dark' %} dark{% endif %}{% if post.feature_img %} featureImage{% endif %}{% if post.feature_repeat %} featureRepeat {% endif %}" style="{% if post.feature_img %} background-image:{{ post.feature_img }};{% endif %}">
          <div class="wrapper">
            <a href="{{ post.url }}" class="title">{{ post.title }}</a>
            <div class="categories">
              {{ post.author }}, in {% for category in post.categories %} <span class="category">{{ category }}</span> {% endfor %}
            </div>{% if post.excerpt %}
            <div class="excerpt">
              {{ post.excerpt | strip_html }}
            </div>{% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
  <footer>
    <div class="wrapper">
      <p><a href="http://cti.io/"><img src="{{ site.root }}/img/cti_logo.svg" alt="CTi Winnipeg" width="50" valign="absmiddle"></a></p>
      <p><small>CTi, Winnipeg</small></p>
      <p><small><a href="https://github.com/CTi-Winnipeg">View our GitHub Profile</a></small></p>
    </div>
  </footer>


  <script src="javascripts/scale.fix.js"></script>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-58632825-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>

</body>
</html>
