/* 
 * Main CTi Stylesheet
 * v1.0.0
 * Last Updated: 2015-01-27
 * Author: Richard Bennett - richard.bennett.cti@gmail.com 
 * Twitter: @mr_subtle
 * 
 */

body {
  color: #373737;
  font-family: "freight-display-pro", "Times New Roman", "Times", serif;
}

.wrapper {
  width: 960px;
  margin: 0px auto;
}

header {
  font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif;
  font-weight: 300;
  padding: 14em 0em;
  text-align: center;
}

header h1 {
  font-size: 3.5em;
  margin-bottom: 1em;
}

header h2 {
  font-size: 1.25em;
  margin-bottom: 1em;
}

section {
  padding-bottom: 10em;
  text-align: center;
}

section > ul {
  list-style: none;
}

section > ul li {
  margin-bottom: 5em;
  padding: 2em 0em;
}

section > ul li:first-child a.title {
  font-size: 3em;
  text-decoration: none;
  color: #ee3727
}

section > ul li a.title {
  /*font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif;*/
  font-weight: 700;
  font-size: 2.5em;
  text-decoration: none;
  color: #ee3727
}

footer {
  padding-bottom: 10em;
  text-align: center;
  opacity: 0.55;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer:hover {
  opacity: 1;
}

footer p {
  padding: 0.5em 0em;
}

footer small {
  font-size: 0.85em;
}


/* Layout-specific styles */

/* post */

header.post {
  font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif !important;
  font-weight: 300;
  background-color: #efefef;
}

article.post {
  padding-bottom: 10em;
}

article.post h1, article.post h2, article.post h3, article.post h4, article.post h5 {
  font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif;
  font-weight: 300;
  padding: 1em 10%;
}

blockquote {
  padding: 2em 20%;
}

article.post h1 {
  font-size: 2.5em;
}

article.post > p {
  font-size: 1.37em;
  line-height: 1.55em;
  letter-spacing: 0.02em;
  padding: 2em 10%;
  padding-top: 1em;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-left: 0.1em solid #fff;
  opacity: 0.65;
}
article.post > p:hover {
  opacity: 1;
  border-left: 0.1em solid #e5e5e5;
}

nav.bottom {
  font-size: 1.37em;
  line-height: 1.55em;
  letter-spacing: 0.02em;
  padding: 2em 10%;
  padding-top: 1em;
}

nav.bottom a:first-child {
  float: left;
}
nav.bottom a:last-child {
  float: right;
}