/* 
 * Main CTi Stylesheet
 * v1.0.0
 * Last Updated: 2015-01-27
 * Author: Richard Bennett - richard.bennett.cti@gmail.com 
 * Twitter: @mr_subtle
 * 
 */

.wrapper {
  width: 960px;
  margin: 0px auto;
  color: #373737;
}

header {
  font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif;
  font-weight: 300;
  padding: 10em 0em;
  text-align: center;
}

header h1 {
  font-size: 3.5em;
  margin-bottom: 1em;
}

header h2 {
  font-size: 1.25em;
  margin-bottom: 1em;
}

