/* 
 * Main CTi Stylesheet
 * v1.0.0
 * Last Updated: 2015-01-27
 * Author: Richard Bennett - richard.bennett.cti@gmail.com 
 * Twitter: @mr_subtle
 * 
 */

html {
  height: 100%;
}

body {
  color: #373737;
  font-family: "freight-display-pro", "Times New Roman", "Times", serif;
  height: 100%;
}

a {
  color: #373737;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
a:hover {
  color: #ee3727;
}

.wrapper {
  width: 94%;
  max-width: 960px;
  margin: 0px auto;
}

header {
  font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  height: 100%;
  /* Flex box vertical center layout */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header.index {
  background-image: url('../img/wpg_skyline35.jpg');
  background-size: cover;
  background-position: center bottom;
  border-bottom: 0.1em solid #eee;
}

header > div.wrapper {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

header.index > div.wrapper {
  display: inline-block;
  padding: 10%;
  /*border: 1em solid #fff;
  background-color: rgba(255,255,255,0.95);*/
  width: initial;
}

header h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

header h2 {
  font-size: 1.25em;
  font-weight: 300;
}

section.pagelist {
  padding: 10em 0em;
  text-align: center;
}


section.pagelist > ul {
  list-style: none;
}

section.pagelist > ul li {
  margin: 3em 0em;
  padding: 2em 0em;
  opacity: 0.45;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-bottom: 0.1em solid #fff;
}

section.pagelist > ul li:hover {
  opacity: 1;
  border-bottom: 0.1em solid #eee;
}

section.pagelist > ul li:first-child a.title {
  font-size: 3em;
  text-decoration: none;
  /*color: #ee3727;*/
}

section.pagelist > ul li a.title {
  font-weight: 700;
  font-size: 2.25em;
  text-decoration: none;
}
section.pagelist > ul li .categories {
  font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif;
  margin-top: 1em;
}
section.pagelist > ul li .categories .category:after {
  content: ', ';
}
section.pagelist > ul li .categories .category:last-child:after {
  content: '';
}

footer {
  padding-bottom: 10em;
  text-align: center;
  opacity: 0.55;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer:hover {
  opacity: 1;
}

footer p {
  padding: 0.5em 0em;
}

footer small {
  font-size: 0.85em;
}


/* Layout-specific styles */

/* post */

header.post {
  font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif !important;
  font-weight: 300;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center center;
}

article.post {
  padding: 4em 0em;
}

article.post h1, article.post h2, article.post h3, article.post h4, article.post h5 {
  font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif;
  font-weight: 300;
  padding: 1em 10%;
}

article.post p, article.post pre, article.post ul, article.post ol {
  font-size: 1.37em;
  line-height: 1.55em;
  padding: 2em 10%;
  padding-top: 1em;
}

blockquote {
  font-size: 1em;
  font-style: italic;
  line-height: 1.55em;
  padding: 2em 20%;
  padding-top: 0em;
}
blockquote > p {
  font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif;
  font-weight: 300;
  padding: 0em !important;
}

article.post h1 {
  font-size: 2.5em;
}
article.post h2 {
  font-size: 2.35em;
}
article.post h3 {
  font-size: 2.1em;
}
article.post h4 {
  font-size: 1.9em;
  font-weight: 700;
}
article.post h5 {
  font-size: 1.35em;
  font-weight: 700;
  text-transform: uppercase;
}

article.post > p {
  font-size: 1.37em;
  line-height: 1.55em;
  letter-spacing: 0.02em;
  padding: 2em 10%;
  padding-top: 1em;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-left: 0.1em solid #fff;
  opacity: 0.65;
}
article.post > p:hover {
  opacity: 1;
  border-left: 0.1em solid #e5e5e5;
}

article.post > p > img {
  width: 100%;
  height: auto;
}

article.meta {
  padding: 2em 10% 10em 10%;
}

article.meta .author {
  font-size: 2.5em;
  margin: 1em 10% 0.4em 10%;
}
article.meta .date {
  font-size: 1.1em;
  line-height: 1.35em;
  margin: 0em 10% 1em 10%;;
  font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

nav.bottom {
  font-size: 1.37em;
  line-height: 1.55em;
  letter-spacing: 0.02em;
  padding: 2em 10%;
  padding-top: 1em;
  text-align: center;
  position: relative;
}

nav.bottom a {
  font-family: "futura-pt", "HelveticaNeue", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9em;
  text-decoration-style: dotted;
}

nav.bottom a.previous {
  float: left;
  position: absolute;
  left: 0px;
  top: 1.2em;
  width: 30%;
  text-align: left;
}
nav.bottom a.next {
  float: right;
  position: absolute;
  right: 0px;
  top: 1.2em;
  width: 30%;
  text-align: right;
}