---
layout: default
---

<header class="post" style="background-image:url('{{ page.feature_img }}');">
  <div class="wrapper">
    <h1>{{ page.title }}</h1>
  </div>
</header>
<div class="wrapper">
  <article class="post">
    {{content}}
  </article>
  <article class="meta">
    <div class="author"><a href="mailto:{{ page.author_email }}">{{ page.author }}</a></div>
    <div class="date">{{ page.date }}</div>
  </article>
  <nav class="bottom">
    <a href="https://cti-winnipeg.github.io/">Home</a>
    <a href="{{site.root}}">Next post</a>
  </nav>
  <footer>
    <p></p><p></p>
    <p><small>CTi, Winnipeg</small></p>
    <p><small><a href="https://github.com/CTi-Winnipeg">View our GitHub Profile</a></small></p>
  </footer>
</div>
